//*==== recommended css start ===*//
.recommended-area {
    padding: 40px 0;
    .section-header {
        padding: 5px 0;
        text-align: center;
        background: #DDEAF8;
        h6 {
            margin: 0;
        }
    }
    .section-wrapper {
        .reccommended-item {
            @extend %flex;
            align-items: center;
            border: 1px solid #DDEAF8;
            ul.item-list {
                margin: 0;
                padding: 0;
                width: 100%;
                list-style: none;
                @extend %flex;
                align-items: center;
                justify-content: space-between;
                @include breakpoint (lg) {
                    width: 80%;
                }
                li {
                    min-height: 111px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    width: calc(100% / 2);
                    transition: all .3s ease-in-out;
                    border-right: 1px solid #DDEAF8;
                    @include breakpoint (lg) {
                        width: calc(100% / 4);
                    }
                    &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
                        border-bottom: 1px solid #DDEAF8;
                    }
                    &:nth-child(7), &:nth-child(8) {
                        @include breakpoint (max-lg) {
                            border-top: 1px solid #DDEAF8;
                            border-bottom: 1px solid #DDEAF8;
                        }
                    }
                    &:hover {
                        background: $theme-color;
                        a {
                            margin-left: -30px;
                            span {
                                color: $white-color;
                            }
                            i {
                                left: 110%;
                                transform: scale(1)translateY(-50%);
                            }
                        }
                    }
                    a {
                        position: relative;
                        i {
                            position: absolute;
                            top: 50%;
                            left: 80%;
                            transform: translateY(-50%)scale(0);
                            color: $white-color;
                            transition: all .3s ease-in-out;
                        }
                    }
                }
            }
            .online-recommended {
                width: 50%;
                text-align: center;
                border-right: 1px solid #DDEAF8;
                @include breakpoint (lg) {
                    width: 20%;
                    border-right: 0;
                }
                a {
                    text-decoration: none;
                    display: block;
                    padding: 38px 0;
                    transition: all .3s ease-in-out;
                    &:hover {
                        background: $theme-color;
                        img {
                            filter: invert(1);
                        }
                        p {
                            color: $white-color;
                        }
                    }
                    img {
                        filter: invert(0
                        );
                    }
                }
            }
        }
    }
}
//*==== recommended css ends  ===*//

//*==== all services css start ====*//
.service-style {
    padding: 60px 0;
    .section-wrapper {
        .service-description {
            span {
                font-size: 16px;
                font-weight: 600;
                color: $theme-color;
                display: inline-block;
            }
            h3 {
                margin: 0;
                margin-left: 0;
                padding-top: 23px;
                line-height: 1.3;
                max-width: 430px;
            }
            p {
                margin: 0;
                margin-left: 0;
                padding: 12px 0 25px;
                max-width: 450px;
            }
        }
        .service-thumb {
            width: 100%;
            padding-bottom: 30px;
            @include breakpoint (md) {
                max-width: 500px;
                padding-bottom: 0;
            }
            img {
                width: 100%;
                object-fit: contain;
            }
        }
    }
}
//*==== all services css ends  ====*//

//*==== godaddy videos css start ====*//
.godaddy-adds {
    .adds-position {
        position: relative;
        overflow: hidden;
        // .overlay {
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     right: 0;
        //     bottom: 0;
        //     z-index: 9;
        //     background: rgba(63, 63, 78, .28);
        // }
        .adds-thumb {
            overflow: hidden;
            position: relative;
            min-height: 450px;
            background-size: cover;
            background-position: center;
            background-image: url(../../assets/images/videos/01.jpg);
            img {
                width: 100%;
            }
            .adds-icon {
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 11;
                transform: translate(-50%, -50%);
                a {
                    i {
                        height: 60px;
                        width: 60px;
                        line-height: 60px;
                        text-align: center;
                        border-radius: 100%;
                        color: $theme-color;
                        background: $white-color;
                        @include breakpoint (sm) {
                            height: 100px;
                            width: 100px;
                            line-height: 100px;
                        }
                    }
                }
            }
        }
    }
}
//*==== godaddy videos css start ====*//

//*=== started with godaddy css ===*//
.started-video {
    margin: 60px 0;
    padding: 80px 0 50px;
    background: #2f1a4b;
    .section-header {
        padding-bottom: 50px;
        h3 {
            margin: 0;
            color: $white-color;
        }
    }
    .section-wrapper {
        .vidoe-thumb {
            overflow: hidden;
            position: relative;
            img {
                width: 100%;
            }
            .videos-icon {
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 11;
                transform: translate(-50%, -50%);
                a {
                    i {
                        height: 60px;
                        width: 60px;
                        line-height: 60px;
                        text-align: center;
                        border-radius: 100%;
                        color: $theme-color;
                        background: $white-color;
                        @include breakpoint (sm) {
                            height: 80px;
                            width: 80px;
                            line-height: 80px;
                        }
                    }
                }
            }
        }
        .video-text {
            text-align: center;
            padding-top: 20px;
            padding-bottom: 20px;
            @include breakpoint (lg) {
                padding-bottom: 0;
            }
            p {
                margin: 0;
                color: $white-color;
            }
        }
    }
}
//*=== started with godaddy css ===*//

//*=== why godaddy area start ====*//
.why-godaddy {
    overflow: hidden;
    min-height: 600px;
    position: relative;
    padding-top: 25px;
    &::after {
        @extend %absolute;
        top: 0;
        left: 0;
        right: 0;
        min-height: 600px;
        background-size: cover;
        background-position: center;
        border-image: linear-gradient(135deg , #1976d2, #744bc4) 1;
        border-style: solid;
        border-width: 0 0 0.25rem;
        background-image: url(../../assets/images/godaddy/01.jpg);
        @include breakpoint (max-lg) {
            min-height: 50%;
            background-image: url(../../assets/images/godaddy/02.jpg);
        }
    }
    .section-header {
        z-index: 1;
        position: relative;
        span {
            display: inline-block;
            position: relative;
            padding-left: 15px;
            &::before {
                @extend %absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 5px;
                background: #2f1a4b;
            }
        }
    }
    .section-wrapper {
        z-index: 1;
        min-height: 500px;
        @extend %flex;
        align-items: center;
        justify-content: center;
        position: relative;
        .applay-bg {
            width: 100%;
            height: 350px;
            @include breakpoint (max-sm) {
                height: 420px;
            }
            @include breakpoint (mobile) {
                height: 480px;
            }
        }
        .godaddy-content {
            padding: 25px 0;
            text-align: center;
            @include breakpoint (lg) {
                padding: 0;
                text-align: left;
            }
            .go-logo {
                padding-bottom: 10px;
            }
            .content-text {
                h3 {
                    margin: 0;
                }
                p {
                    margin: auto;
                    max-width: 500px;
                    @include breakpoint (lg){
                        margin-left: 0
                    }
                }
            }
            .go-search {
                @extend %flex;
                padding-top: 30px;
                max-width: 500px;
                align-items: center;
                @include breakpoint (max-lg) {
                    margin: auto;
                }
                input.form-control {
                    width: 80%;
                    height: 50px;
                    border-radius: 0;
                    &:focus {
                        outline: 0;
                        box-shadow: none;
                    }
                }
                button.btn {
                    width: 20%;
                    height: 50px;
                    padding: 10px;
                    i {
                        position: relative;
                        left: 0;
                        transform: scale(1)translateY(-80%);
                    }
                }
            }
            .art-link {
                padding-top: 60px;
                ul.link-list {
                    margin: 0;
                    padding: 0;
                    @extend %flex;
                    list-style: none;
                    @include breakpoint (max-lg) {
                        justify-content: center;
                    }
                    li {
                        &:first-child {
                            margin-right: 50px;
                        }
                        a {
                            font-weight: 600;
                            color: $theme-color;
                            text-decoration: underline;
                            transition: all 0.3s ease-in-out;
                            &:hover {
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
    }
}
//*=== why godaddy area start ====*//

//*=== helpline area start ===*//
.help-area {
    padding: 25px 0;
    background: #00A4A6;
    .helpline-content {
        text-align: center;
        p {
            margin: 0;
            letter-spacing: 1.5px;
            color: $white-color;
            @include breakpoint (sm) {
                font-size: 20px;
            }
        }
    }
}
//*=== helpline area ends  ===*//

//*==== footer area start =====*//
footer {
    background: $theme-color;
    .footer-top {
        padding: 25px 0;
        border-bottom: 1px solid #DDEAF8;
        h6 {
            margin: 0;
            color: $white-color;
            padding-bottom: 20px;
        }
        .hc-thumb {
            height: 50px;
            img {
                height: 100%;
            }
        }
    }
    .footer-middle {
        padding: 60px 0;
        .footer-item {
            @extend %flex;
            align-items: baseline;
            justify-content: flex-start;
            @include breakpoint (lg) {
                justify-content: space-between;
            }
            ul.item-list {
                padding: 12px;
                margin: 0;
                list-style: none;
                @include breakpoint (lg) {
                    padding: 0;
                }
                li {
                    margin: 12.5px 0;
                    span.title {
                        font-weight: 600;
                        color: $white-color;
                    }
                    a {
                        color: #bac0c3;
                        font-size: 12px;
                        text-decoration: none;
                        transition: all .3s ease-in-out;
                        &:hover {
                            color: #fff;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
    .footer-bottom {
        padding: 25px 0;
        border-top: 1px solid #DDEAF8;
        .bottom-inner {
            @extend %flex;
            align-items: center;
            justify-content: space-between;
            .bottom-left {
                .footer-logo {
                    a {
                        svg {
                            path {
                                fill: $white-color;
                            }
                        }
                        img {
                            height: 50px;
                        }
                    }
                }
            }
            .bottom-media {
                ul.media-list {
                    margin: 0;
                    padding: 0;
                    @extend %flex;
                    list-style: none;
                    align-items: center;
                    li {
                        margin: 5px 10px;
                        a {
                            text-decoration: none;
                            i {
                                font-size: 30px;
                                color: $white-color;
                            }
                        }
                    }
                }
            }
        }
    }
}
//*==== footer area ends  =====*//

//*==== check out area start ====*//
.check-out {
    padding-top: 20px;
    background: #f5f7f8;
    #validation {
        .card {
            box-shadow: none;
            background: none;
            .card-header {
                padding-bottom: 15px;
                h3.card-title {
                    font-size: 30px;
                }
            }
            .card-content {
                .card-body {
                    padding: 0;
                    form {
                        fieldset {
                            margin-top: 40px;
                            .busket {
                                margin: auto;
                                width: 100%;
                                padding: 20px;
                                border-radius: 5px;
                                border: 1px solid #bac0c3;
                                background: $white-color;
                                @include breakpoint (sm) {
                                    max-width: 750px;
                                }
                                .busket-table {
                                    .table-responsive {
                                        .table {
                                            tbody {
                                                tr {
                                                    th {
                                                        min-width: 80px;
                                                    }
                                                    td {
                                                        min-width: 200px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    .domain-info {
                                        border-radius: 5px;
                                        border: 1px solid #bac0c3;
                                        ul.info-list {
                                            padding: 15px;
                                            margin: 0;
                                            list-style: none;
                                            border-bottom: 1px solid #bac0c3;
                                            li {
                                                @extend %flex;
                                                justify-content: space-between;
                                                span {
                                                    &.dom-title {
                                                        font-weight: 600;
                                                        color: $theme-color;
                                                    }
                                                    &.price {
                                                        color: #09757a;
                                                        font-weight: 600;
                                                    }
                                                    &.d-ico {
                                                        i {
                                                            font-weight: 900;
                                                            color: $theme-color;
                                                        }
                                                    }
                                                }
                                                select {
                                                    margin: 10px 0;
                                                    padding: 5px 10px;
                                                    border: 1px solid $theme-color;
                                                }
                                            }
                                        }
                                        .info-des {
                                            display: block;
                                            @include breakpoint (sm) {
                                                display: flex;
                                                flex-wrap: wrap;
                                            }
                                            .des-text {
                                                padding: 40px 10px;
                                                background: #ffeea9;
                                                width: 100%;
                                                @include breakpoint (sm) {
                                                width: calc(100% - 60%);
                                                }
                                                p {
                                                    margin: 0;
                                                    font-size: 14px;
                                                }
                                            }
                                            .des-intro {
                                                width: 100%;
                                                position: relative;
                                                padding: 20px 15px;
                                                @include breakpoint (sm) {
                                                    width: 60%;
                                                }
                                                span {
                                                    color: #09757a;
                                                    display: block;
                                                }
                                                button.btn {
                                                    position: absolute;
                                                    right: 15px;
                                                    bottom: 15px;
                                                    padding: 10px 20px;
                                                    span {
                                                        color: $white-color
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    .card-status{
                                        @extend %flex;
                                        padding: 25px 0;
                                        align-items: center;
                                        justify-content: space-between;
                                        a {
                                            font-size: 12px;
                                            text-decoration: underline;
                                            &.emp-cart {
                                                font-weight: 600;
                                                font-size: 16px;
                                                color: $theme-color;
                                            }
                                        }
                                    }
                                    .total-price {
                                        text-align: center;
                                        border-top: 1px solid #bac0c3;
                                        @include breakpoint (sm) {
                                            padding: 10px 25px;
                                        }
                                        .price-inner {
                                            @extend %flex;
                                            align-items: center;
                                            justify-content: space-between;
                                            .price-tag {
                                                h4 {
                                                    margin: 0;
                                                    @include breakpoint (sm) {
                                                        font-size: 30px;
                                                    }
                                                }
                                                span {
                                                    font-size: 30px;
                                                    color: #09757a;
                                                }
                                            }
                                        }
                                        p {
                                            margin: 0;
                                            padding: 15px 0 10px;
                                        }
                                        a {
                                            color: $theme-color;
                                            font-weight: 600;
                                            text-decoration: underline;
                                        }
                                    }
                                    .checkOut-btn {
                                        button.btn {

                                        }
                                    }
                                }
                            }
                            .create-accout {
                                width: 100%;
                                margin: auto;
                                padding: 10px;
                                border-radius: 5px;
                                border: 1px solid #bac0c3;
                                background: $white-color;
                                @include breakpoint (sm) {
                                    padding: 15px;
                                    max-width: 550px;
                                }
                                .account-inner {
                                    padding: 15px;
                                    border-radius: 5px;
                                    border: 1px solid #bac0c3;
                                    @include breakpoint (sm) {
                                        margin: 10px;
                                    }
                                    .form-header {
                                        text-align: center;
                                        p {
                                            a {
                                                color: #87ceeb;
                                                text-decoration: underline;
                                            }
                                        }
                                    }
                                    .create-social {
                                        text-align: center;
                                        ul.media-list {
                                            margin: 0;
                                            padding: 0;
                                            @extend %flex;
                                            justify-content: center;
                                            li {
                                                list-style: none;
                                                margin: 5px;
                                                width: calc(100% / 2 - 10px);
                                                a {
                                                    padding: 10px;
                                                    width: 100%;
                                                    color: $theme-color;
                                                    font-weight: 600;
                                                    text-decoration: none;
                                                    display: inline-block;
                                                    border: 2px solid $theme-color;
                                                    span {
                                                        @include breakpoint (max-mobile) {
                                                            font-size: 12px;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        .or {
                                            p {
                                                color: $theme-color;
                                            }
                                        }
                                    }
                                    .submit-btn {
                                        button.btn {
                                            padding: 10px;
                                            width: 100%;
                                        }
                                    }
                                }
                            }
                            .billing-info, .payment-info {
                                margin: auto;
                                width: 100%;
                                padding: 20px;
                                border: 1px solid #bac0c3;
                                background: $white-color;
                                @include breakpoint (sm) {
                                    max-width: 550px;
                                }
                                .input-group {
                                    select {
                                        width: 100%;
                                        padding: 10px;
                                        height: 40px;
                                        margin-bottom: 15px;
                                        border: 1px solid $theme-color;
                                    }
                                }
                                .input-btn {
                                    button.btn {
                                        padding: 10px;
                                        width: 100%;
                                    }
                                }
                                .form-check {
                                    padding-left: 2.5rem;
                                    label.form-check-label {
                                        font-size: 22px;
                                        font-weight: 600;
                                        color: $theme-color;
                                    }
                                    .card-list {
                                        display: flex;
                                        img {
                                            height: 20px;
                                            width: 30px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
//*==== check out area start ====*//


//*===== empty busket css start ====*//
.empty-busket {
    padding: 80px 0;
    background: #f5f7f8;
    .section-wrapper {
        .busket-content {
            .content-inner {
                margin: auto;
                border-radius: 3px;
                max-width: 520px;
                background: $white-color;
                border: 1px solid #d6d6d6;
                .inner-des {
                    margin: 20px 30px;
                    padding: 50px 20px;
                    text-align: center;
                    border-radius: 8px;
                    background: #f5f7f8;
                    .inner-icon {
                        i {
                            opacity: .3;
                            font-size: 85px;
                        }
                    }
                    p {
                        margin: 0;
                        opacity: .5;
                        font-weight: 500;
                        padding: 12px 0 15px;
                        @include breakpoint (sm) {
                            font-size: 18px;
                        }
                    }
                    a {
                        color: $theme-color;
                        font-weight: 600;
                        text-decoration: underline;
                    }
                }
            }
            .inner-search {
                margin: auto;
                max-width: 420px;
                span.title {
                    font-size: 16px;
                    padding: 15px 0 20px;
                    display: inline-block;
                    color: $theme-color;
                }
                .search-domain {
                    width: 100%;
                    @extend %flex;
                    align-items: center;
                    input.form-control {
                        height: 40px;
                        border-radius: 0;
                        width: calc(100% - 15%);
                        &:focus {
                            outline: 0;
                            box-shadow: none;
                        }
                    }
                    button.btn {
                        width: 15%;
                        height: 40px;
                        padding: 0;
                        span {
                            i {
                                position: relative;
                                left: 0;
                                top: 0;
                                transform: scale(1) translateY(20%)
                            }
                        }
                    }
                }
            }
        }
    }
}
//*===== empty busket css ends  ====*//

//?======= product page css start =====?//

//*=== product pricing area start  ===*//
.hosting-price {
    padding: 80px 0;
    .section-header {
        text-align: center;
        h3 {
            margin: 0;
            font-weight: 600;
            line-height: 1.2;
            @include breakpoint (sm) {
                font-size: 50px;
            }
        }
    }
    .section-wrapper {
        nav {
            .nav-tabs {
                padding: 50px 0;
                justify-content: center;
                button.nav-link {
                    padding: 20px 40px;
                    border-bottom: 1px solid $theme-color;
                    @include breakpoint (max-mobile) {
                        margin: 5px;
                    }
                    &:hover {
                        border: 0;
                        border-bottom: 1px solid $theme-color;
                    }
                    &:focus {
                        outline: 0;
                        box-shadow: none;
                    }
                    &.active {
                        color: #00A4A6;
                        border: 1px solid #00A4A6;
                        border-bottom: 3px solid #09757a;
                    }
                }
            }
        }
        .tab-content {
            @include breakpoint (max-sm) {
                padding: 0 10px;
            }
            .tab-pane {
                .col-lg-3.col-md-6.col-12.border-end.p-0:nth-child(1) {
                    border-bottom: 1px solid #ccc;
                    @include breakpoint (lg) {
                        border-bottom: 0;
                    }
                }
                .col-lg-3.col-md-6.col-12.border-end.p-0:nth-child(2) {
                    border-bottom: 1px solid #ccc;
                    @include breakpoint (lg) {
                        border-bottom: 0;
                    }
                }
                .col-lg-3.col-md-6.col-12.border-end.p-0:nth-child(3) {
                    border-bottom: 1px solid #ccc;
                    @include breakpoint (md) {
                        border-bottom: 0;
                    }
                }
                .pricing-content {
                    padding: 40px 25px;
                    .pricing-text {
                        span {
                            font-size: 18px;
                        }
                        P {
                            margin: 0;
                            color: $theme-color;
                        }
                        h4 {
                            margin: 0;
                            font-weight: 600;
                            margin: 8px 0 5px;
                            display: inline-block;
                            background: #ffeea9;
                        }
                        h6 {
                            margin: 0;
                        }
                    }
                    
                }
                .pricing-btn {
                    margin: 25px 0;
                }
                .pricing-list {
                    ul.list-item {
                        margin: 0;
                        padding: 0;
                        list-style: none;
                        li {
                            margin-bottom: 15px;
                            &:last-child {
                                margin-bottom: 0;
                            }
                            span {
                                i {
                                    color: #09757a;
                                    margin-right: 12px;
                                }
                                strong {
                                    color: $theme-color;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
//*=== product pricing area ends   ===*//

//*=== vps hosting css start ===*//
.vps-content {
    padding-bottom: 80px;
    .vps-text {
        text-align: center;
       p {
           margin: 0;
           font-size: 25px;
        a {
            
            font-weight: 600;
            color: #09757a;
        }
       }
    }
}
//*=== vps hosting css start ===*//

//*==== price plan css start ====*//
.price-plan {
    padding: 80px 0;
    .section-header {
        h3 {
            margin: 0;
            font-weight: 500;
            padding-bottom: 20px;
        }
    }
    .section-wrapper {
        .plan-thumb {
            img {
                width: 100%;
            }
        }
        .plan-text {
            h3 {
                margin: 0;
                @include breakpoint (max-sm) {
                    font-size: 22px;
                }
            }
            p {
                margin: 0;
            }
        }
    }
}
//*==== price plan css start ====*//

//*==== hosting-include css start ====*//
.hosting-include {
    padding: 80px 0;
    .section-header {
        text-align: center;
        h3 {
            margin: 0;
            font-weight: 600;
        }
    }
    .section-wrapper {
        padding-top: 50px;
        .include-item {
            .item-title {
                h4 {
                    margin: 0;
                    font-weight: 500;
                    padding-bottom: 16px;
                }
                p {
                    margin: 0;
                }
            }
        }
    }
}
//*==== hosting-include css start ====*//


//?======= product page css ends  =====?//


//?======= login page css start  =====?//
body.login-bg {
    background-size: cover;
    // background-position: center;
    background-attachment: fixed;
    background: #f5f7f8;
    @include breakpoint (lg) {
    background-image: url(../../assets/images/login/01.jpg);
    }
    .login-auth {
        padding: 60px 0;
        .login-card {
            padding: 20px 0;
            border-radius: 5px;
            background: $white-color;
            @include breakpoint (sm) {
                padding: 20px 10px;
            }
            @include breakpoint (lg) {
                padding: 30px 20px;
            }
            .card-header {
                border-bottom: 0;
                text-align: center;
                background: transparent;
                h3 {
                    margin: 0;
                }
            }
            .card-body {
                form {
                    .input-group {
                        padding-bottom: 25px;
                    }
                    .input-btn {
                        padding-bottom: 12px;
                        button.btn {
                            padding: 10px;
                            width: 100%;
                        }
                    }
                    .form-check {
                        margin-bottom: 20px;
                    }
                }
                .form-footer {
                    text-align: center;
                    .media-list {
                        padding: 0;
                        margin: 0;
                        list-style: none;
                        @extend %flex;
                        justify-content: center;
                        li {
                            width: calc(100% / 2);
                            a {
                                display: block;
                                margin: 5px;
                                padding: 10px;
                                text-decoration: none;
                                border: 2px solid $theme-color;
                            }
                        }
                    }
                }
            }
        }
    }
}
//?======= login page css ends   =====?//

//?==== purchase page css start ====?//

//*=== purchase-area css start ===*//
.purchase-area {
    padding: 60px 0;
    background: #f5f7f8;
    .section-header {
        h3 {
            margin: 0;
        }
    }
    .section-wrapper {
        ul.nav-tabs {
            li.nav-item {
                button.nav-link {
                    color: skyblue;
                    &.active {
                        font-weight: 600;
                        color: #000;
                    }
                }
            }
        }
        .tab-content {
            border-left: 1px solid $border-color;
            border-right: 1px solid $border-color;
            background: $white-color;
            .tab-pane {
                .manage-billing {
                    .billing-header {
                        @extend %flex;
                        padding: 15px;
                        justify-content: space-between;
                        .header-left {
                            ul.left-list {
                                margin: 0;
                                padding: 0;
                                @extend %flex;
                                list-style: none;
                                align-items: center;
                                li {
                                    margin: 5px;
                                    button.custom-btn {
                                        color: $white-color;
                                        padding: 5px 10px;
                                        &:disabled {
                                            background: #a0a0a0;
                                        }
                                    }
                                }
                            }
                        }
                        .header-right {
                            button {
                                margin: 5px;
                                padding: 5px 10px;
                                border: 1px solid #000;
                                background: transparent;
                                span {
                                    color: #000;
                                    i {
                                        margin-right: 8px;
                                    }
                                }
                            }
                        }
                    }
                }
                .payment-confirm {
                    @extend %flex;
                    max-width: 350px;
                    margin-left: 0;
                    padding: 20px;
                    border-radius: 5px;
                    align-items: flex-start;
                    background: #d3c1f7;
                    .conf-icon {
                        width: 10%;
                    }
                    .conf-text {
                        width: calc(100% - 10%);
                        h4 {
                            margin: 0;
                            font-weight: 500;
                        }
                        p {
                            margin: 0;
                            padding: 10px 0;
                        }
                    }
                }
            }
        }
    }
}
//*=== purchase-area css start ===*//

//?==== purchase page css ends  ====?//


//?==== purchase page css start ====?//

//*=== edit profile start === *//
.edit-profile {
    padding: 60px 0;
    background: #f5f7f8;
    .section-header {
        padding-bottom: 20px;
    }
    .section-wrapper {
        .edit-form {
            padding: 30px 20px;
            border: 1px solid $border-color;
            background: $white-color;
            form {
                .input-group {
                    input.form-control {
                        border: 1px solid #e8e8e8;
                    }
                    label {
                        margin-bottom: 5px;
                        font-weight: 600;
                        display: inline-block;
                    }
                    select {
                        width: 100%;
                        height: 40px;
                        padding: 10px;
                        border: 1px solid #e8e8e8;
                    }

                    .input-sellect {
                        width: 100%;
                        @extend %flex;
                        align-items: center;
                        select {
                            width: 40%;
                            height: 40px;
                            border-radius: 0;
                        }
                        input.form-control {
                            border-radius: 0;
                            width: calc(100% - 40%);
                        }
                    }
                }
                .input-btn {
                    button.btn {
                        background: silver;
                        padding: 10px 25px;
                    }
                    button.custom-btn {
                        color: skyblue;
                        margin-left: 10px;
                        background: transparent;
                    }
                }
            }
        }
        .edit-card {
            margin-top: 30px;
            .card {
                padding: 30px 20px;
                text-align: center;
                .card-icon {
                    i {
                        font-size: 35px;
                        color: $theme-color;
                    }
                }
                .card-text {
                    h4 {
                        margin: 0;
                        font-weight: 500;
                        padding: 12px 0 8px;
                    }
                    p {
                        margin: 0;
                    }
                }
            }
        }
    }
}
//*=== edit profile start === *//

//*=== support area start === *//
.support-area {
    padding: 60px 0;
    .section-header {
        padding-bottom: 30px;
    }
    .section-wrapper {
        .text-item {
            padding-bottom: 30px;
            .text-column {
                p {
                    margin: 0;
                    a {
                        color: #00a4a6;
                        display: inline-block;
                        padding-bottom: 7px;
                        text-decoration: underline;
                    }
                    span {
                        padding-bottom: 10px;
                    }
                }
            }
        }
    }
}
//*=== support area start === *//

//*=== about contact css start ===*//
.about-contact {
    padding: 60px 0;
    background: #f8f9fa;
    @include breakpoint (sm) {
        padding: 80px 0;
    }
    .section-wrapper {
        position: relative;
        overflow: visible;
        &::after {
            position: absolute;
            content: "\f291";
            font-family: "Font Awesome 5 Brands";
            right: 0;
            top: 50%;
            font-size: 45px;
            opacity: .8;
            transform: translateY(-50%);
        }
        .about-form {
            padding: 25px;
            border-radius: 5px;
            background: $white-color;
            @extend %shadow;
            form {
                .input-group {
                    input.form-control, textarea {
                        background: #f8f9fa;
                    }
                }
                .input-btn {
                    button.btn {
                        padding: 8px 25px;
                    }
                }
            }
        }
    }
}
//*=== about contact css ends  ===*//


